
/* body{
    width: 100vw;
    box-sizing: border-box;
} */

.main__container--homePage{
    padding-top: 15vh;
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;

    /* align-items: center; */

    /* width: 100vw; */
    /* overflow-x: none; */
    /* box-sizing: border-box; */
}

.article__container--globalInformation{
    background: linear-gradient(90deg,  var(--background-2), var(--background-1));

    display: flex;
    flex-direction: column;
    align-items: center;

}

.container__global--specificInformation{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;

}


.container__global--specificInformation > span{
    letter-spacing: 2px;
    font-size: 1.5rem;
}

.total__cases,
.total__newCases{
    color: var(--brand-1);
}


.total__activeCases{
    color: var(--brand-2);
}

.total__critical{
    color: var(--brand-5);
}

.total__deaths,
.total__newDeaths{
    color: var(--brand-3);
}

.search__country{
    background: none;
    border: none;
    outline: none;
    padding: 4px 0;
    /* font-size: var(--font-size-6); */
    width: 80%;
    /* color: var(--color-primary-darkMode); */
    color: #fff;
    margin-bottom: 1px;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 15px;
    width: 300px;
}

.search__country::placeholder{
    /* color: var(--color-primary-darkMode-opacity); */
    letter-spacing: 3px;
    /* font-size: var(--font-size-6); */
}

#select__continent{
    background: none;
    border: none;
    outline: none;
    padding: 4px 0;
    /* font-size: var(--font-size-6); */
    width: 80%;
    color: var(--color-grey-900);
    margin-bottom: 1px;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 15px;
    width: 300px;
}

#select__continent > option{
    color: var(--color-grey-50);
}

.section__container--mainInformation{
    max-width: 95%;
}

.container__filterByContinent--desktopVersion{
    width: 15%;
    display: none;
    background-color: var(--color-grey-200);
}

.container__filterByContinent--desktopVersion > button{
    height: 50px;
    width: 90%;
    /* margin: auto; */
    cursor: pointer;
    border-radius: 8px;
    background-color: #083358;
    color: var(--color-grey-900);
    font-size: var(--font-size-4);
}


.container__filterByContinent--desktopVersion > button:hover{
    background-color: #0D63A5;
}

/*TABLE*/
.container__table{
    width: 100%;
    height: 50vh;
    overflow-x: auto;
}

.table__container--allCountryInformation{
    /* overflow-x: auto; */

}


@media(min-width: 1024px){
    .main__container--homePage{
        max-width: 100vw;
        flex-direction: row-reverse;
        justify-content: space-between;

    }
    .container__filterByContinent--desktopVersion{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 15px;
        height: fit-content;
        padding: 20px 10px;
        border-radius: 10px;
    }

    .section__container--mainInformation{
        max-width: 85%;
    }

    #select__continent{
        display: none;
    }
    .article__container--globalInformation{
        background: none;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;

    }

    .container__global--specificInformation{
        width: 350px;
        background: linear-gradient(90deg,  var(--background-2), var(--background-1));
        border-bottom: 1px solid rgb(237, 242, 255, 0.5);
        border-left: 1px solid rgb(237, 242, 255, 0.5);
        padding: 15px;
    }


}